.Background_Banner{
    position: relative;
    text-align: center;
}
.Secon_log0{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }
  
  .Main_Collect1_Box{
    position: relative;
    text-align: center;
  }
  .Rent_parag{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .level_31{
    position: absolute;
    top: 7%;
    left: 14%;
    transform: translate(-50%,-50%);
  }
  
  .Rent_Button{
    position: absolute;
    top: 90%;
    left: 11%;
    transform: translate(-50%,-50%);
  }
  .Rent_Button:hover{
   
  }
  
  .Jet_Power_Accuracy{
    background: rgb(151 134 134 / 15%);
  }

  .Line{
    width: 20rem;
  }

  .wallet{
    background: linear-gradient(74deg, rgb(18, 218, 231), rgb(27, 78, 245));
 
  }
  .hr2{
   
    color: white;
  }
  



/* .....................LaunchPad.css............................. */

.LaunchpadImage{
  position: relative;
  text-align: center !important;
  border: 1px solid;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #262626;
  
}
.Gamefi{
  position: absolute;
  top: 9%;
  left:17%;
  transform: translate(-50%,-50%);
}
.Closed{
  position: absolute;
  top: 9%;
  left:83%;
  transform: translate(-50%,-50%);
}
.LAunch_Pad:hover{
  transform: scale(1.1);
  
}