.inputtype input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  /* "& input[type=number]::-webkit-inner-spin-button": {
    "-webkit-appearance": "none",
    margin: 0,
  }, */

  .Avibale_Nft_Build_With_zethan{
    text-align: center !important;
  }