.inputtype input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  /* "& input[type=number]::-webkit-inner-spin-button": {
    "-webkit-appearance": "none",
    margin: 0,
  }, */

  .Avibale_Nft_Build_With_zethan{
    text-align: center !important;
  }


  @media only screen and (max-width: 600px) {
   .MainBox_Hooks{
    text-align: center !important;
   }
  }

  .Main_Box_Build_With_Zethan{
    background-image: url(../Images/BuildSection__banner.png);
    background-size: cover;
    background-position: 100%;
    padding-bottom: 54px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    flex-wrap: wrap;
  }
  